!.vscode/extensions.json
!.vscode/settings.json
*.cache
*.cover
*.egg
*.egg-info/
*.log
*.mo
*.pid
*.po
*.pot
*.py[codz]
*.so
*.sw[op]
*.whl
*~
.DS_Store
.Python
.coverage
.cspellcache
.eggs/
.env*
.prek-stamp
.python-version
.uv-stamp
.venv/
.vscode/
ENV/
__pycache__/
__pypackages__/
build/
coverage.xml
dist/
docs/source/api/
eggs/
env/
htmlcov/
pip-delete-this-directory.txt
sdist/
venv/
wheels/
